*{
	margin: 0px;
	padding: 0px;

}
body{
	font-family: sans-serif;
}
.main{
	    height:auto;
	    background-color: #2c4152; 
	    }
.topnav{
    	height: 55px;
    	background-color: #363e52;
    	text-transform: uppercase;	
}
.slider{
	
    height: 400px;
    background-image: url(../image/eCommerce.png);
    background-repeat: no-repeat;
    
    background-position: center bottom;
    opacity: 0.3;

}
.slider .logo{
	background-image: url(../image/Ajio-Logo.png);
	background-repeat: no-repeat;
	background-position: center;
}
.body{

height: 500px;
background-color: white;
}
.footer1{
	
	height:350px;
	background-color: #f2f2f2;

}
.footer2{

height:90px;
}
.footer3{
background-color: black;
height: 50px;
}