*{
	margin: 0px;
	padding: 0px;

}
body{
	font-family: sans-serif;
}
.main{
	    height:auto;
	    /*background-color: #f2f2f2;*/ 
	    background-color: white;
	    }
.topnav{
    	height: 55px;
    	background-color: #363e52;
    	text-transform: uppercase;	
}
.topnav ul li{
    display: inline-block;
    width: 107px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    padding: 0 10px;
    color: white;
}
.slider{
	
    height: 400px;
    /*background-image: url(../image/eCommerce.png);
    background-repeat: no-repeat;
    background-position: fixed;
	background-position: center bottom;*/
	    background-color:#fdfdfd;

}
/*.logo{
	border: 3px solid red;
    height: 56px;
    width: 146px;
    margin-left: 579px;
    padding: 12px;*/
}
.body{

height: 500px;
background-color: white;
}

.body ul li{
	display: inline-block;
    width: 425px;
    height: 78px;
    font-size: 22px;
    line-height: 78px;
    padding: 0 10px;
    text-align: center;
}
.footer1{
	margin-top: 30px;
	height:350px;
	background-color: #f2f2f2;

}
.content{
    letter-spacing: 0.7px;
    width: 418px;
    float: left;
    margin-left: 96px;
    margin-top: 75px;
    color: #58587c;
}

.footer2{
background-color: #363e52;
height:90px;
}
.footer3{
background-color: black;
height: 50px;
}
.footer3 img{
	height: 40px;
	float:right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}